
@import "./fonts.css";
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: CeraPro, sans-serif;
  font-weight: 400;
    position: relative;
    margin: 0;
}

.wrapper {
  max-width: 1202px;
  margin: 0;
  
}

.container {
position: relative;
  border: 1px black;
  width: 1202px;
  height: 302px;
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-top: 69px;
  margin-bottom: 138px;
  margin-right: 28px;
}
  .container-left-gorshok {
    position: relative;
    margin-left: 120px;
     margin-top: 69px;
     margin-bottom: 138px;
     margin-right: -6px;
      
   }

.container-left {
  width: 586px;
  height: 302px;
   position: relative;
  float: left;
  margin-left: 0px;
  margin-right: 28px;
  margin-top: 69px;
  margin-bottom: 138px;
 
  

}

.container-left-border {
  position:static;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index:-264px;
  margin-top: 52px;
  margin-bottom: 138px;
  margin-right:-28px;
}

.container-right {
  border: 1px black;
  width: 586px;
  height: 302px;
  position: relative;
   text-align: right;
   margin-right: 120px;
  margin-bottom: 138px;
  margin-top: 69px;
  margin-left: 28px;
 
}

.container-right-border {
    border: 1px solid #000;
    width: 586px;
    height: 250px;
  display: flex;
  flex-direction: column;
   gap: 4px;
  position:static;
  z-index: -259px;
  margin-top: 52px;
  margin-right: -120px;
  margin-bottom: 138px;
 

}
.container-right_img {
  
  margin-top: 69px;
  margin-left: 28px;
  margin-bottom: 138px;
  margin-right: -6px;

  
}
.p {
  font-family: CeraPro, sans-serif;
  font-weight: 900;
  float: left;
  column-gap: normal;
  margin-top: 89px;
  margin-left: 119px;
  margin-bottom: 9px;
  margin-right: 30px;
}

.description {
  font-family: CeraPro, sans-serif;
  font-size: 14px;
  font-weight: 400;
  float: left;
  column-gap: normal;
  line-height: 24px;
  margin-top: 9px;
  margin-left: -5px;
  margin-bottom: 25px;
}

.btn {
  background-color: forestgreen;
  color: white;
  border-radius: 6px;
  padding: 8px 16px;
  width: 140px;
  height: 40px;
  margin: 46px 30px 0 416px;
  
  }
  
  .button-btn {
    display: inline-block;
    width: 100px;
    img {
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 4px;
    }
}
.container-left, .container-right {
  
  border: 1px black;
  width: 586px;
  height: 302px;
  display: flex;
  flex-direction: row;
  float: left;
}

.flex-container-border {
  border: 1px solid #151515;
  width: 1202px;
  height: 447px;
  float: left;
  content: normal;
  margin-top: 38px;
  margin-bottom: 69px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  
}

.span {
  font-family: CeraPro, sans-serif;
font-size: 14px;
font-weight: 500;
background: rgba(70, 163, 88, 1);


}
.flex-caption {
  text-align: center;
  display: flex;
  flex-basis: 15px;

 .h1 {
  font-family: CeraPro,sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.flex-caption-centre {
  margin-top: 15px;
  font-size: 14px;
  font-family: CeraPro, sans-serif;
  font-weight: 400;
  margin-bottom: 35px;
  text-align: center;
}
}
.flex-container, .flex-container1, .flex-container2, .flex-container3 {
  display: flex;
  flex-direction: row;
  width: 268px;
  height: 362px;
  
}

.flex-container img, .flex-container1 img, .flex-container2 img, .flex-container3 img {
  width: 268px;
  height: 195px;
}

.post-meta {
  font-family: CeraPro, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  flex-direction: column;
  gap: 5%;

  
}

.post-title {
  font-family: CeraPro, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  flex-direction: column;
  gap: 5%;

}

.post-description {
  font-family: CeraPro, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
  width: 242px;
  height: 44px;
  padding: 4px 0;
  flex-direction: column;
  gap: 5%;

}

.flex-container-border-cactus {
  border: 1px solid #000;
 width: 242px;
   height: 146px;
  margin-top: 8px;
  margin-right: auto;
  margin-bottom: 68px;
  margin-left: auto;
  flex-direction: column;
}
  .flex-container3-border {
    border: 1px solid #000;
    width: 242px;
    height: 146px;
    margin-top: 8px;
    margin-bottom: 68px;
    margin-left: 0;
  }


.flex-container1-border,
.flex-container2-border {
 margin-top: 8px;
  margin-right: 42px;
  margin-bottom: 68px;
  align-items: center;
  flex-direction: column;
}
.flex-container-img {
  margin-top: 85px;
  margin-left: 120px;
  margin-right: 42px;
  margin-bottom: 9px;
  flex-direction: column;
}
.flex-container1_img {
  margin-top: 35px;
  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 9px;
  flex-direction: column;
}
.flex-container2_img {
  margin-bottom: 9px;
  margin-top: 35px;
  margin-left: 42px;
  margin-right: 120px;
  flex-direction: column;
}
.flex-container3_img {
  margin-bottom: 9px;
  margin-top: 85px;
  margin-left: 43px;
  margin-right: 120px;
  flex-direction: column;
}
